
body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("src/space.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat; 
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

.title, .addPopDancerButton {
  padding:5px 12px;
  float:right;
}

.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

/*.newDancer {
  border: 10px solid blue;
  border-radius:10px;
  position: absolute;
}*/
.newDancer {
  transform: rotate(15deg);
}

.addBrownDancerButton {
  padding:5px 12px;
  float:right;
}

img {
  display: inline;
}

.lineUp {
  position: absolute;
  display: inline;
  top: 50%;
}